[submodule "bin/echo"]
	path = bin/echo
	url = git://github.com/nevali/echo.git
[submodule "bin/uname"]
	path = bin/uname
	url = git://github.com/nevali/uname.git
[submodule "bin/false"]
	path = bin/false
	url = git://github.com/nevali/false.git
[submodule "bin/true"]
	path = bin/true
	url = git://github.com/nevali/true.git
[submodule "bin/mesg"]
	path = bin/mesg
	url = git://github.com/nevali/mesg.git
[submodule "bin/link"]
	path = bin/link
	url = git://github.com/nevali/link.git

[submodule "bin/unlink"]
	path = bin/unlink
	url = git://github.com/nevali/unlink.git
